Repository AlgoLeadMe/AlgoLeadMe-12, pull requests merged in 2024-11, with the labels that each got.

#11 3-wnsmir
  wnsmir/DP/2096내려가기.py
Labels: wnsmir, 리뷰 완료 ✔️

#15 4-g0rnn
  g0rnn/BruteForce/4-g0rnn.cpp
  g0rnn/README.md
Labels: g0rnn, 리뷰 기다리는 중 🔥

#14 3-kokeunho
  kokeunho/README.md
  kokeunho/구현/3-kokeunho.py
Labels: kokeunho, 리뷰 기다리는 중 🔥

#16 4-kokeunho
  kokeunho/README.md
  kokeunho/구현/4-kokeunho.py
Labels: kokeunho, 리뷰 기다리는 중 🔥

#13 4-wnsmir
  wnsmir/재귀와 분할정복/2448별찍기.py
Labels: wnsmir, 리뷰 완료 ✔️

#17 5-g0rnn
  g0rnn/DFS,BFS/5-g0rnn.cpp
  g0rnn/README.md
Labels: g0rnn, 리뷰 완료 ✔️

#19 5-kokeunho
  kokeunho/README.md
  kokeunho/트리/5-kokeunho.py
Labels: kokeunho, 리뷰 완료 ✔️

#20 6-kokeunho
  kokeunho/README.md
  kokeunho/자료구조/6-kokeunho.java
Labels: kokeunho, 리뷰 기다리는 중 🔥

#22 5-wnsmir
  wnsmir/DP/9465스티커.py
Labels: wnsmir, 리뷰 기다리는 중 🔥

#26 6-wnsmir
  wnsmir/그리디/18111마인크래프트.py
Labels: wnsmir, 리뷰 기다리는 중 🔥

#29 7-wnsmir
  wnsmir/DP/1793타일링.py
Labels: wnsmir, 리뷰 완료 ✔️

#31 7-g0rnn
  g0rnn/README.md
  g0rnn/구현/7-g0rnn.cpp
Labels: g0rnn, 리뷰 완료 ✔️

#24 7-kangrae-jo
  kangrae-jo/DP/7-kangrae-jo.cpp
  kangrae-jo/README.md
Labels: kangrae-jo, 리뷰 기다리는 중 🔥

#25 7-kokeunho
  kokeunho/README.md
  kokeunho/구현/7-kokeunho.java
Labels: kokeunho, 리뷰 기다리는 중 🔥
