Repository AlgoLeadMe/AlgoLeadMe-12, pull requests merged in 2024-10, with the labels that each got.

#4 4 - g0rnn
  g0rnn/DFS,BFS/4-g0rnn3.cpp
  g0rnn/스택,큐/4-g0rnn.cpp
  g0rnn/스택,큐/4-g0rnn2.cpp
Labels: g0rnn, 리뷰 기다리는 중 🔥

#3 1-wnsmir
  .DS_Store
  .gitignore
  wnsmir/.DS_Store
  wnsmir/그리디/위상정렬큐.py
Labels: wnsmir, 리뷰 기다리는 중 🔥

#1 1-kokeunho
  kokeunho/README.md
  kokeunho/구현/1-kokeunho.py
Labels: kokeunho, 리뷰 기다리는 중 🔥

#2 1-kangrae-jo
  kangrae-jo/.DS_Store
  kangrae-jo/DP/1-kangrae-jo.cpp
  kangrae-jo/README.md
Labels: kangrae-jo, 리뷰 완료 ✔️

#5 2-kokeunho
  kokeunho/README.md
  kokeunho/다이나믹 프로그래밍/2-kokeunho.py
Labels: kokeunho, 리뷰 완료 ✔️

#6 2-kangrae-jo
  kangrae-jo/.DS_Store
  kangrae-jo/BruteForce/carpet.c++
  kangrae-jo/README.md
Labels: kangrae-jo, 리뷰 완료 ✔️

#8 2-wnsmir
  wnsmir/.DS_Store
  wnsmir/그리디/백준1916최소비용구하기.py
Labels: wnsmir, 리뷰 완료 ✔️

#7 2-g0rnn
  g0rnn/DFS,BFS/1-g0rnn3.cpp
  g0rnn/README.md
  g0rnn/스택,큐/1-g0rnn.cpp
  g0rnn/스택,큐/1-g0rnn2.cpp
  g0rnn/트리/2-g0rnn.java
Labels: g0rnn, 리뷰 완료 ✔️
