Repository AlgoLeadMe/AlgoLeadMe-12, pull requests merged in 2024-12, with the labels that each got.

#27 8-kangrae-jo
  kangrae-jo/HEAP/8-kangrae-jo.cpp
  kangrae-jo/README.md
Labels: kangrae-jo, 리뷰 완료 ✔️

#32 8-wnsmir
  wnsmir/결정문제/1654랜선자르기.py
Labels: wnsmir, 리뷰 기다리는 중 🔥

#39 9-g0rnn
  .gitignore
  g0rnn/README.md
  g0rnn/greedy/9-g0rnn.cpp
Labels: g0rnn, 리뷰 기다리는 중 🔥

#30 9-kangrae-jo
  kangrae-jo/DP/9-kangrae-jo.cpp
  kangrae-jo/README.md
Labels: kangrae-jo, 리뷰 기다리는 중 🔥

#28 8-kokeunho
  kokeunho/README.md
  kokeunho/구현/8-kokeunho.java
Labels: kokeunho, 리뷰 완료 ✔️

#37 10-kangrae-jo
  kangrae-jo/README.md
  kangrae-jo/누적합/10-kangrae-jo.cpp
Labels: kangrae-jo, 리뷰 완료 ✔️
