Repository AlgoLeadMe/AlgoLeadMe-12, pull requests merged in 2025-08, with the labels that each got.

#121 30-g0rnn
  g0rnn/README.md
  g0rnn/segment-tree/30-g0rnn.py
Labels: g0rnn, 리뷰 완료 ✔️

#124 30-wnsmir
  wnsmir/그리디/요격시스템.py
Labels: 리뷰 완료 ✔️

#126 31-kokeunho
  kokeunho/.DS_Store
  kokeunho/README.md
  kokeunho/그래프 탐색/31-kokeunho.java
Labels: kokeunho, 리뷰 완료 ✔️

#125 31-wnsmir
  wnsmir/그리디/택배 배달과 수거하기.py
Labels: 리뷰 완료 ✔️

#131 32-wnsmir
  wnsmir/해시/순위 검색.py
Labels: wnsmir, 리뷰 완료 ✔️

#129 32-kokeunho
  kokeunho/.DS_Store
  kokeunho/README.md
  kokeunho/그래프 탐색/32-kokeunho.java
Labels: kokeunho, 리뷰 완료 ✔️
